extends ../layouts/default
block vars
  - var title = "home";

block content
  header(role='banner')
    h1 Different Perspectives

    h2 Interactive Virtual Reality demos using Google Cardboard to experience situations from Different Perspectives.
    span.buttons
      a.btn(href='/#reasons') learn more
      a.btn(href='/#download') download prototype


  main(role="main")

    section#reasons.reasons

      aside.reasons__story
        figure.bubble
          span.bubble--text reasons
        p Ever wondered what it would be like step into someone else’s shoes? To see what they see, hear what they hear? How would it feel to experience the world from the perspective of someone of a different gender, or ethnicity, or sexuality?
        p Different Perspectives is an immersive Virtual Reality experience that uses 360 films and Google Cardboard to do just that.
        p Our hope is that the immediacy of seeing a situation through the eyes of another will evoke an emotional response, and elicit reactions that can be shared, and reflected on, in empathy building exercises.


    section.solution-fixed
      figure.solution-fixed__camera

      figure.solution-fixed__iphone__background
      figure.solution-fixed__iphone__overlay

    section#solution.solution
      aside.solution__explaination
        figure.bubble.bubble--inverted-animation
          span.bubble--text.bubble solution
        section
        p.spacing--top.spacing--double
          h1 create a discussion
          | In cooperation with participants and experts, we want to create an interactive virtual reality experience to create informational workshops and discussions.

        p(data-iphone-step="show-camera").spacing--bottom.spacing--double
          h1 360 immersion
          | Using 360 degree videos to realise an unprecedented level of immersion.


        p(data-iphone-step="show-iphone").spacing--bottom.spacing--double.spacing--bottom.spacing--double
          h1 use tools already available
          | Most people today have access to smartphones. We use them all the time in our daily lives. To stay in touch, to work, and to educate ourselves.
          | We want to utilise this familiarity.

        p(data-iphone-step="unity").spacing--bottom.spacing--double
          h1 built for maintainability
          | We have build the entire app using Unity, all the code and content will be available as open-sourced projects on Github. This means that anyone can contribute and help us improve this project.


        p(data-iphone-step="app").spacing--bottom.spacing--double
          h1 multi-platform
          | To make sure that as many people as possible can interact with our app, we offer support for both iOS and Android devices.

        p(data-iphone-step="vr").spacing--bottom.spacing--double
          h1 virtual reality in 360 degrees
          | We designed our app to be compatible with Google Cardboard since this is the cheapest way of turning a smartphone into virtual reality goggles.

      section.solution__cardboard
        section.solution__cardboard__container
          figure.solution__cardboard__overlay
          video(muted loop data-vr-video).solution__cardboard__video
            source(src="/images/vr_demo.mp4" type="video/mp4")

    section#download.download
      h1 Download prototype
      h2 Work in progress, will be available soon.
      section.buttons
        a.btn(href='/#download' disabled) iOS
        a.btn(href='/#download' disabled) Android

