block vars

doctype html
html.no-js
  head
    meta(charset='utf-8')
    title A Different Perspective
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67851108-1', 'auto');
      ga('send', 'pageview');


    // build:css /styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
    // endbower
    // endbuild

    // build:css /styles/main.css
    link(rel='stylesheet' href='/styles/main.css')
    // endbuild
  body(class="#{title}")
    nav(role="navigation")
      //span differentperspectiv.es

      ul.navigation__left
        li differentperspectiv.es
        li
          a(href="/#reason") reason
        li |
        li
          a(href="/#solution") solution
        li |
        li
          a(href="/#download") download prototype
        li |
        li
          a(href="http://twitter.com/d_perspectives") twitter



      ul.navigation__right
        li en
        li
          a(href="/sv")="sv"
    block content


    // build:js /scripts/vendor.js
    // bower:js

    // endbower
    // endbuild

    // build:js /scripts/plugins.js
    // endbuild

    // build:js /scripts/main.js
    script(src='/scripts/main.js')
    // endbuild