@import "_properties";
@import "_fading-entrances/fading-entrances.scss";

.home {

  text-align: center;

  [role="banner"] {
    align-items: left;
    background-image: url('/images/splash-2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    //height: 110vh;
    min-height: 50rem;
    padding: $lineheight 2%;
    text-align: left;
    z-index: 3;


    h1, h2 {
      max-width:35rem;
      color: $color-white;
    }

    h1 {
      color: $color-white;
      line-height: 1.1;
      font-size: 5rem;
      margin: 13rem 0 $lineheight / 2;
    }

    h2 {
      font-family: Courier;
    }

    @include tablet {
      align-items: center;
      text-align: center;
      padding: $lineheight 5%;

      h1 {
        margin: 25rem 0 $lineheight / 2;
        font-size: 3em;
        line-height: 1.2;
      }

      h2 {
       font-size: 1rem;
      }
    }

    @include handheld {
      h1 {
        margin: 20rem 0 $lineheight / 2;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
  }


  [role="main"] {
    font-size: to_rem(19);
    background-color: white;
    position: relative;

    section {
      position: relative;
    }

  }

  .reasons {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $color-black;
    box-shadow: 0px 0px 10px $color-black;
    padding: $lineheight*4 2%;
    z-index: 3;

    &__bubble,
    &__story {
      color: $color-white;
      display: flex;
      flex-flow: column wrap;
    }

    &__bubble {
      padding: $lineheight 2%;
      align-items: center;
      justify-content: center;
      opacity: 0;
      @include tablet {
        flex: 100%;
      }

    }

    &.seen {

      aside {
        @include fadeInUp(
          $duration: 750ms,
          $function: ease,
          $fill: both
        );
      }
    }
  }

  .solution-fixed {
    position: fixed !important;
    width: 60%;
    margin-left: 40%;
    text-align: center;
    top: 150px;
    z-index: 1;


    &__iphone__background,
    &__iphone__overlay,
    &__camera {
      margin-left: 15px;
      height: 450px;
      left:0;
      position: absolute;
      top:0;
      width: 100%;
      background-size: auto 450px;
      background-repeat: no-repeat;
      background-position: center center;
      transition-duration: 500ms;
      opacity: 0;
    }

    &__iphone__background {
      background-image: url('/images/iphone_black.png');
    }

    &__camera {
        background-image: url('/images/camera.png');
    }

    &.show-camera {
      .solution-fixed__camera {
        opacity: 1;
      }
    }

    &.show-iphone {
      .solution-fixed__iphone__overlay,
      .solution-fixed__iphone__background {
        opacity: 1;
      }

      .solution-fixed__camera {
        opacity: 0;
      }
    }

    &.smartphones {
      .solution-fixed__iphone__overlay,
      .solution-fixed__iphone__background {

      }
    }

    &.camera .solution-fixed__iphone__overlay {

    }

    &.unity {
      .solution-fixed__iphone__overlay,
      .solution-fixed__iphone__background {
        transform: rotate(90deg);
        background-image: url('/images/iphone_unity.png');
      }
    }


    &.app .solution-fixed__iphone__overlay,
    &.app .solution-fixed__iphone__background {
      top:-100px;
    }

    &.app .solution-fixed__iphone__overlay {
      background-image: url('/images/iphone_app.png');
    }


    &.vr .solution-fixed__iphone__overlay {
      background-image: url('/images/iphone_black.png');
    }

  }


  .solution {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background-color: $color-white;
    margin-bottom: 5rem;

    &__explaination,
    &__cardboard {
      color: $color-black;
      display: flex;
      flex-flow: row wrap;
      &:after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: white;
        height: 10rem;
        margin-bottom: -5rem;
      }
    }

    &__explaination {
      opacity: 0;
      flex: 2;
      align-items: stretch;
      justify-content: center;
      padding: $lineheight*2 2% $lineheight*3 2%;

      p {
        opacity: 0;
      }

      @include tablet {
        flex: 100%;
      }

    }

    &__cardboard {
      z-index: 10;
      flex: 3;
      justify-content: center;
      align-items: flex-end;
      display: relative;
      min-height: 40rem;

      &__container {
        position: relative;
      }

      &__overlay {
        position: relative;
        width: 500px;
        height: 300px;
        background-image: url('/images/cardboard.png');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
      }
      &__video {
        position: relative;
        margin-top: -300px;
        padding-bottom: 4rem;
        width: 420px;
        z-index: 0;
      }

      @include handheld {
        figure {
          width: 250px;
          height: 150px;
          margin-bottom: -130px;
        }
        video {
          width: 210px;
        }
      }
    }
    &.seen {
      aside {
        @include fadeInUp(
          $duration: 750ms,
          $function: ease,
          $fill: both
        );
      }
    }
  }

  .download {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: $color-orange;
    min-height: 30rem;
    padding-bottom: 0;
    z-index: 3;

    h1, h2, .buttons {
      color: white;
      opacity: 0;
      transition: opacity 1000ms;
    }


    &.seen {
      h1, .buttons {
        opacity: 0.2;
      }
      h2 {
        opacity: 1;
      }
    }

  }

}