.btn {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 1em;
  vertical-align: bottom;

  font: 300 1em/1.5 Courier;
  color: #fff;
  text-align: center;
  text-decoration: none;

  padding: .5em 1.5em;
  border-bottom: 5px solid darken($color-pink, 20);
  background: darken($color-pink, 5);

  transition: 200ms;

  &:hover {
    margin-top: 2px;
    border-bottom: 3px solid darken($color-pink, 20);
    background: $color-pink;

    text-decoration: none;
  }

  &:active {
    border-bottom: none;
    background: darken($color-pink, 10);
    text-decoration: none;
  }

  &.btn--large {
    font-size: 1.2em;
    padding: .5em 1.3em;
  }

  &.btn--huge {
    font-size: 1.5em;
    padding: .7em 1.4em;
  }

  &.btn--outlined {
    //border: 1px solid $color-pink;
    color: $color-pink;
    background: none;
  }

  &.btn--light {
    &:hover {
      border-color: $color-white;
      color: $color-pink;
      background: $color-white;
    }
  }

  @include tablet {
    padding: 0.5rem 0.4rem !important;
  }

  @include handheld {
    padding: 0.75rem 0.5rem !important;
  }
}
