@import "_properties";
@import "_fading-entrances/fading-entrances.scss";

nav[role="navigation"] {
  display: flex;
  justify-content: space-between;
  padding: $lineheight 2%;
  font-family: $mono;
  font-size: to_em(13);
  z-index: 4;
  margin-bottom: -4.5rem;
  color: $color-light-grey;

  ul {
    display: flex;
  }


  a {
    text-decoration: none;
    display: block;
    padding: 0 .62em;

    &:hover {
      text-decoration: underline;
    }
  }

  @include tablet {
    ul:first-child li:not(:nth-child(1)) {
      display: none;
    }
  }

  //Animations
  ul:nth-child(1) {
    @include fadeInLeft(
      $duration: 750ms,
      $function: ease,
      $fill: both
    );
  }
  ul:nth-child(2) {
    @include fadeInRight(
      $duration: 750ms,
      $function: ease,
      $fill: both
    );
  }
}

header[role="banner"] {
  @include fadeIn(
    $duration: 750ms,
    $delay: 750ms,
    $function: ease,
    $fill: both
  );

  h1, h2, .btn {
    @include fadeIn(
      $duration: 500ms,
      $delay: 1500ms,
      $function: ease,
      $fill: both
    );


  }
}